<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true">

    <testsuite name="all-tests">>
        <directory>tests/Eardish</directory>
    </testsuite>

    <testsuite name="travis-ci">>
        <directory>tests/Eardish</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
            <exclude>
                <directory suffix=".php">./lib/Eardish/Gateway/Containers/Core</directory>
                <directory suffix=".php">./lib/Eardish/Gateway/Interfaces</directory>
                <directory suffix=".php">./lib/Eardish/Gateway/Formats/Core</directory>
                <directory suffix=".php">./lib/Eardish/Gateway/Responders/Core</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>
