<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         verbose="true">

    <testsuite name="all-tests">>
        <directory>tests</directory>
    </testsuite>

    <testsuite name="travis-ci">>
        <directory>tests</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <php>
        <var name="DB_DSN" value="pgsql:dbname=user;host=localhost" />
        <var name="DB_USER" value="username" />
        <var name="DB_PASSWORD" value="password" />
        <var name="DB_DBNAME" value="users" />
    </php>
</phpunit>
